@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

.about-content {
  contain: layout style;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  
  .fill-mode-both {
    animation-fill-mode: both;
  }